body
{
	font-family: "Times New Roman", Georgia, Serif;
	
}

.bg { 
    /* The image used */
    background-image: non;

    /* Full height */
    height: 800px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
	background-color: black;
    
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: auto; /* use this, or not */
margin: auto;
}

.navbar
{
	margin-bottom:0;
	border-radius: 1;
	padding: 1% 0;
	font-size:1.1em;
	border: 0;
}

.navbar-brand
{
	float:left;
	min-height: 55px;
	padding: 0 30px 5px;
}

.navabr-inverse .navbar-nav .active a, .nav-bar-inverse .navbar-nav .active a:focus,
	navabr-inverse .navbar-nav .active a:hover
{
	background-color: white;
}




.middle
{
	font-size: 30px;
	color: red;
	
}

#a
{
	height: 20px;
}

.fa
{
	padding: 15px;
	font-size: 50px;
	color: white;
}

.fa:hover

{
	color: red;
}

footer
{
	width: 100%;
	background-color: black;
	padding: 1%;
	color: white;
	font-size: 35px;
	font-family: "Times New Roman", Georgia, Serif;
}

.itemf {
    width: 350px;
    float: left;
	display: block;
}
.item img {
    display: block;
    width: 100%;
}
#autor
{
	font-size: 18px;
	display: block;
	text-align: right;
}
input
{
	padding:4px;
	box-sizing:border-box;
}
.eror

{
	color:red;
}
.contact
{
	width:100%;
	max-width:500px;
	border-top:1px solid #eee;
	box-sizing: borderbox;
	
}

.muted
{
	color:red;
}
label, textarea
{
	display:block;
}

.serce
{
	color: whitesmoke;
}

